# Latihan 5

In [ ]:
# 1.	Day of Week
day = int(input())

switcher = {
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday",
    7: "Sunday"
}

print(switcher.get(day, "Error"))

1
Monday

In [ ]:
# 2.	Weekend or Working Day
day = input().lower()

switcher = {
    "monday": "Working day",
    "tuesday": "Working day",
    "wednesday": "Working day",
    "thursday": "Working day",
    "friday": "Working day",
    "saturday": "Weekend",
    "sunday": "Weekend"
}

print(switcher.get(day, "Error"))

april
Error

In [ ]:
# 3.	Animal Type
animal = input().lower()

switcher = {
    "dog": "mammal",
    "crocodile": "reptile",
    "tortoise": "reptile",
    "snake": "reptile",
}

print(switcher.get(animal, "unknown"))

dog
mammal

In [ ]:
# 4.	Personal Titles

age = float(input())
gender = input().lower()

if age < 16:
  if gender == "m":
    print("Master")
  elif gender == "f":
    print("Miss")
if age >= 16:
  if gender == "m":
    print("Mr.")
  elif gender == "f":
    print("Ms.")

13.5
m
Master

In [ ]:
# 5.	Small Shop

product = input().lower()
city = input().lower()
quantity = float(input())

if city == "london":
  if product == "coffee":
    price = 0.50
  elif product =="water":
    price = 0.80
  elif product =="beer":
    price = 1.20
  elif product =="sweets":
    price = 1.45
  elif product =="peanuts":
    price = 1.60
elif city == "rome":
  if product == "coffee":
    price = 0.40
  elif product =="water":
    price = 0.70
  elif product =="beer":
    price = 1.15
  elif product =="sweets":
    price = 1.30
  elif product =="peanuts":
    price = 1.50
if city == "paris":
  if product == "coffee":
    price = 0.45
  elif product =="water":
    price = 0.70
  elif product =="beer":
    price = 1.10
  elif product =="sweets":
    price = 1.35
  elif product =="peanuts":
    price = 1.55

print(quantity * price)

sweets
london
2.23
3.2335

In [ ]:
# 6.	Number in Range

number = int(input())

if -100 <= number <= 100 and number != 0:
  print("Yes")
else:
  print("No")

In [ ]:
# 7.	Working Hours

hour = int(input())
day = input().lower()
if day == "monday" or day == "tuesday" or day == "wednesday" or day == "thursday" or day == "friday" or day == "saturday":
  if 10 <= hour <= 18:
    print("open")
  else:
    print("closed")
elif day =="sunday":
  if 10 <= hour <= 18:
    print("closed")
  else:
    print("closed")

11
sunday
closed

In [ ]:
# 8.	Cinema Ticket

day = input().lower()

if day == "monday" or day == "tuesday" or day == "friday":
  price = 12
elif day == "wednesday" or day == "thursday":
  price = 14
elif day == "saturday" or day == "sunday":
  price = 16

print(price)

monday
12

In [ ]:
# 9.	Fruit or Vegetable

product = input().lower()

if product == "banana" or product == "apple" or product == "kiwi" or product == "cherry" or product == "lemon" or product == "grapes":
  print("fruit")
elif product == "tomato" or product == "cucumber" or product == "pepper" or product == "carrot":
  print("vegetable")
else:
  print("unknown")

banana
sss
fruit

In [ ]:
# 10.	Invalid Number

number = int(input())

if 100 <= number <= 200 or number == 0:
  pass
else:
  print("invalid")

0

In [ ]:
# 11.	Fruit Shop
fruit = input().lower()
day = input().lower()
jumlah = float(input())

if day == "monday" or day == "tuesday" or day == "wednesday" or day == "thursday" or day == "friday":
  if fruit == "banana":
    price = 2.50
    print(f'{price*jumlah:.2f}')
  elif fruit == "apple":
    price = 1.20
    print(f'{price*jumlah:.2f}')
  elif fruit == "orange":
    price = 0.85
    print(f'{price*jumlah:.2f}')
  elif fruit == "grapefruit":
    price = 1.45
    print(f'{price*jumlah:.2f}')
  elif fruit == "kiwi":
    price = 2.70
    print(f'{price*jumlah:.2f}')
  elif fruit == "pineapple":
    price = 5.50
    print(f'{price*jumlah:.2f}')
  elif fruit == "grapes":
    price = 3.85
    print(f'{price*jumlah:.2f}')
  else:
    print("error")
elif day == "saturday" or day == "sunday":
  if fruit == "banana":
    price = 2.70
    print(f'{price*jumlah:.2f}')
  elif fruit == "apple":
    price = 1.25
    print(f'{price*jumlah:.2f}')
  elif fruit == "orange":
    price = 0.90
    print(f'{price*jumlah:.2f}')
  elif fruit == "grapefruit":
    price = 1.60
    print(f'{price*jumlah:.2f}')
  elif fruit == "kiwi":
    price = 3.00
    print(f'{price*jumlah:.2f}')
  elif fruit == "pineapple":
    price = 5.60
    print(f'{price*jumlah:.2f}')
  elif fruit == "grapes":
    price = 4.20
    print(f'{price*jumlah:.2f}')
  else:
    print("error")
else:
  print("error")

tomato
monday
2
error

In [ ]:
# 12.	Trade Commissions
city = input().lower()
volume = float(input())

if city == "london":
  if 0 <= volume <= 500:
    persen = 0.05
    print(f"{volume*persen:.2f}")
  elif 500 < volume <= 1000:
    persen = 0.07
    print(f"{volume*persen:.2f}")
  elif 1000 < volume <= 10000:
    persen = 0.08
    print(f"{volume*persen:.2f}")
  elif volume >= 10000:
    persen = 0.12
    print(f"{volume*persen:.2f}")
  else:
    print("error")
elif city == "paris":
  if 0 <= volume <= 500:
    persen = 0.045
    print(f"{volume*persen:.2f}")
  elif 500 < volume <= 1000:
    persen = 0.075
    print(f"{volume*persen:.2f}")
  elif 1000 < volume <= 10000:
    persen = 0.10
    print(f"{volume*persen:.2f}")
  elif volume >= 10000:
    persen = 0.13
    print(f"{volume*persen:.2f}")
  else:
    print("error")
elif city == "rome":
  if 0 <= volume <= 500:
    persen = 0.055
    print(f"{volume*persen:.2f}")
  elif 500 < volume <= 1000:
    persen = 0.08
    print(f"{volume*persen:.2f}")
  elif 1000 < volume <= 10000:
    persen = 0.12
    print(f"{volume*persen:.2f}")
  elif volume >= 10000:
    persen = 0.145
    print(f"{volume*persen:.2f}")
  else:
    print("error")
else:
  print("error")

paris
1000.01
100.00