# Latihan 6

In [ ]:
# 1.	Cinema

tipe = input().lower()
baris = int(input())
kolom = int(input())

if tipe == "premiere":
  price = 12.00
elif tipe == "normal":
  price = 7.50
elif tipe == "discount":
  price = 5.00

jumlah_bangku = baris * kolom
total = price * jumlah_bangku
print(f'{total:.2f} USD')

premiere
10
12
1440.00 USD

In [ ]:
# 2. Summer Outfit
degrees = int(input())
time_of_day = input()

if time_of_day == "Morning":
  if 10 <= degrees <= 18:
    outfit = "Sweatshirt"
    shoes = "Sneakers"
  elif 18 < degrees <= 24:
    outfit = "Shirt"
    shoes = "Moccasins"
  else:
    outfit = "T-Shirt"
    shoes = "Sandals"
elif time_of_day == "Afternoon":
  if 10 <= degrees <= 18:
    outfit = "Shirt"
    shoes = "Moccasins"
  elif 18 < degrees <= 24:
    outfit = "T-Shirt"
    shoes = "Sandals"
  else:
    outfit = "Shirt"
    shoes = "Barefoot"
elif time_of_day == "Evening":
    outfit = "Shirt"
    shoes = "Moccasins"

print(f"It's {degrees} degrees, get your {outfit} and {shoes}.")

28
evening
It's 28 degrees, get your Shirt and Moccasins.

In [ ]:
# 3.	New House
jenis_bunga = input()
q_bunga = int(input())
budget = int(input())

price_roses = 5
price_dahlias = 3.80
price_tulips = 2.80
price_narcissus = 3
price_gladiolus = 2.50
harga = 0
diskon = 0
if jenis_bunga == "Roses":
  if q_bunga > 80:
    harga = q_bunga * price_roses
    diskon = 10/100
    total_diskon = harga * diskon
    harga = harga - total_diskon
  else:
    harga = q_bunga * price_roses
elif jenis_bunga == "Dahlias":
  if q_bunga > 90:
    harga = q_bunga * price_dahlias
    diskon = 15/100
    total_diskon = harga * diskon
    harga = harga - total_diskon
  else:
    harga = q_bunga * price_dahlias
elif jenis_bunga == "Tulips":
  if q_bunga > 80:
    harga = q_bunga * price_tulips
    diskon = 15/100
    total_diskon = harga * diskon
    harga = harga - total_diskon
  else:
    harga = q_bunga * price_tulips
elif jenis_bunga == "Narcissus":
  if q_bunga < 120:
    harga = q_bunga * price_narcissus
    diskon = 15/100
    total_diskon = harga * diskon
    harga = harga + total_diskon
  else:
    harga = q_bunga * price_narcissus
elif jenis_bunga == "Gladiolus":
  if q_bunga < 80:
    harga = q_bunga * price_gladiolus
    diskon = 20/100
    total_diskon = harga * diskon
    harga = harga + total_diskon
  else:
    harga = q_bunga * price_gladiolus

if budget < harga:
  print(f"Not enough money, you need {harga-budget:.2f} USD more.")
else:
  print(f"Hey, you have a great garden with {q_bunga} {jenis_bunga} and {budget-harga:.2f} USD left.")

Narcissus
119
360
Not enough money, you need 50.55 USD more.

In [ ]:
# 4.	Fishing Boat

budget = int(input())
season = input().lower()
person = int(input())
if season == "spring":
  price = 3000
elif season == "autumn" or season == "summer":
  price = 4200
elif season == "winter":
  price = 2600

if person <= 6:
  disc = 0.10
elif person <= 11:
  disc = 0.15
else:
  disc = 0.25

if season != "autumn" and person % 2 == 0 :
  add_discount = 0.05
else:
  add_discount = 0.0

total = price * (1- disc - add_discount)

if budget < total:
  print(f"Not enough money! You need {total - budget:.2f} USD.")
else:
  print(f"Yes! You have {budget - total:.2f} USD left.")

2000
winter
13
Yes! You have 50.00 USD left.

In [ ]:
# 5.	Journey

budget = float(input())
season = input().lower()

if budget <= 100:
  if season == "summer":
    city = "Bulgaria"
    rest = "Camp"
    disc = 30/100
  elif season == "winter":
    city = "Bulgaria"
    rest = "Hotel"
    disc = 0.70
if 100 < budget <= 1000:
  if season == "summer":
    city = "Balkans"
    rest = "Camp"
    disc = 0.40
  elif season == "winter":
    city = "Balkans"
    rest = "Hotel"
    disc = 0.80
elif budget > 1000:
  rest = "Hotel"
  city = "Europe"
  disc = 0.90

print(f"Somewhere in {city} \n{rest} - {budget * disc:.2f}")

1500
summer
Somewhere in Europe
Hotel - 1350.00

In [ ]:
# 6.	Operations Between Numbers
n1 = int(input())
n2 = int(input())
opr = input()

if opr == "+" or opr == "-" or opr == "*":
  if opr == "+":
    hasil = n1 + n2
  elif opr == "-":
    hasil = n1 - n2
  elif opr == "*":
    hasil = n1 * n2

  if hasil % 2 == 0:
    print(f'{n1} {opr} {n2} = {hasil} - even')
  else:
    print(f'{n1} {opr} {n2} = {hasil} - odd')
elif opr == "/" or opr == "%":
  if n1 == 0:
      print(f'Cannot divide {n2} by zero')
  elif n2 == 0:
      print(f'Cannot divide {n1} by zero')
  else:
    if opr == "/":
      hasil = n1 / n2
      print(f'{n1} {opr} {n2} = {hasil}')
    elif opr == "%":
      hasil = n1 % n2
      print(f'{n1} {opr} {n2} = {hasil}')

10
0
%
Cannot divide 0 by zero

In [ ]:
# 7.	Hotel Room
month = input().lower()
number_night = int(input())
disc_apart = 0
disc_studio = 0
if month == "may" or month == "october":
  if 7 > number_night >= 14:
    disc_studio = 0.05
  elif number_night > 14:
    disc_studio = 0.30
    disc_apart = 0.10
  studio = 50
  apartement = 65
elif month == "june" or month == "september":
  if number_night > 14:
    disc_apart = 0.10
    disc_studio = 0.20
  studio = 75.20
  apartement = 68.70
elif month == "july" or month == "august":
  if number_night > 14:
    disc_apart = 0.10
  else:
    disc_apart = 0.0
  studio = 76
  apartement = 77

total_studio = studio * number_night
total_apart = apartement * number_night
total_studio = total_studio * (1 - disc_studio)
total_apart  = total_apart * (1 - disc_apart)

if number_night > 14 and month =="august":
  print(f"Apartment: {total_apart:.2f} USD.")
  print(f"Studio: {total_studio:.2f} USd.")
else:
  print(f"Apartment: {total_apart:.2f} USD.")
  print(f"Studio: {total_studio:.2f} USD.")

june
14
Apartment: 961.80 USD.
Studio: 1052.80 USD.

In [ ]:
# 8.	On Time for the Exam

first_hours = int(input())
first_minutes = int(input())
second_hours = int(input())
second_minutes = int(input())

h_exam = first_hours * 60 + first_minutes
h_arrival = second_hours * 60 + second_minutes

t_exam = h_arrival - h_exam

if t_exam > 0:
  hours = abs(t_exam) // 60
  minutes = abs(hours) * 60
  minutes = abs(t_exam) - minutes
  if minutes == 0:
    minutes = f'{minutes}'*2

  if hours > 0:
    print(f'Late \n{abs(hours)}:{minutes} hours after the start')
  else:
    print(f'Late \n{abs(t_exam)} minutes after the start')
elif -30 <= t_exam < 0:
  print(f'On time \n{abs(t_exam)} minutes before the start')
elif t_exam == 0:
  print(f'On time')
else:
  hours = abs(t_exam) // 60
  minutes = abs(hours) * 60
  minutes = abs(t_exam) - minutes
  if minutes == 0:
    minutes = f'{minutes}'*2

  if hours > 0:
    print(f'Early \n{abs(hours)}:{minutes} hours before the start')
  else:
    print(f'Early \n{abs(t_exam)} minutes before the start')

9
00
10
30
Late
1:30 hours before the start

In [ ]:
# 9.	Ski Trip

days = int(input())
type_room = input().lower()
grade = input().lower()

disc = 0.0
add_disc = 0.0
night = days - 1
if type_room == "room for one person":
  price = 18
  disc = 0.0
elif type_room == "apartment":
  price = 25
  if days < 10:
    disc = 0.30
  elif 10 <= days <= 15:
    disc = 0.35
  elif days > 15:
    disc = 0.50
elif type_room == "president apartment":
  price = 35
  if days < 10:
    disc = 0.10
  elif 10 <= days <= 15:
    disc = 0.15
  elif days > 15:
    disc = 0.20

if grade == "positive":
  add_disc = 0.25
  total = price * night
  total = total * (1 - disc) * (1 + add_disc)
elif grade == "negative":
  add_disc = 0.10
  total = price * night
  total = total * (1 - disc)
  total = total * (1- add_disc)

print(f'{total:.2f}')

30
president apartment
negative
730.80