In [ ]:
''''
soal no 1
'''

usd = float(input("masukan angka: "))
bgn = usd * 1.79549
print(bgn)

masukan angka: 100
179.549

In [ ]:
''''
soal no 2
'''
# import math
from math import pi

radians = float(input("masukan angka radians: "))
degrees = radians * 180 / pi
print(int(degrees))

masukan angka radians: 3.1416
180

In [ ]:
''''
soal no 3
'''
import math
deposit = float(input("masukan deposit: "))
term = float(input("masukan term: "))
annual = float(input("masukan annual: "))

amount = deposit+term*((deposit*annual / 100) / 12)

print(amount)

masukan deposit: 2350
masukan term: 6
masukan annual: 7
2432.25

In [ ]:
number_page = int(input("input number of pages: "))
page = int(input("input number of pages: "))
number_days = int(input("input number of days: "))

amount_read = number_page / page
amount_hours = amount_read / number_days

print(int(amount_hours))

input number of pages: 432
input number of pages: 15
input number of days: 4
7

In [ ]:
pens = int(input("input pens: "))
markers = int(input("input markers: "))
detergent = int(input("input detergens: "))
discount = int(input("input diskon: "))

amount_pens = pens * 5.80
amount_markers = markers * 7.20
amount_detergent = detergent * 1.20
amount_discount = discount / 100

amount_product = (amount_pens + amount_markers + amount_detergent)
amount_all = amount_product - (amount_product * amount_discount)
print(amount_all)

input pens: 2
input markers: 3
input detergens: 4
input diskon: 25
28.5

In [ ]:
nylon_price = 1.50
paint_price =14.50
tiner_price = 5.00

nylon = int(input("input nylon: "))
nylon = nylon + 2

paint = int(input("input paint: "))
paint = paint + (paint *0.10)

tiner = int(input("input detergent: "))
hours = int(input("input hours: "))

total = nylon * nylon_price +paint * paint_price + tiner * tiner_price + 0.40

worker = (total * 30/100) * hours

final = total + worker

print(final)

input nylon: 5
input paint: 10
input detergent: 10
input hours: 1
286.52

In [ ]:
chicken_price = 10.35
fish_price = 12.40
vegetarian_price = 8.15

chicken = int(input("input chicken: "))
chicken = chicken * chicken_price

fish = int(input("input fish: "))
fish = fish * fish_price

vegetarian = int(input("input vegetarian: "))
vegetarian = vegetarian * vegetarian_price

total_produk = chicken + fish + vegetarian
diskon = total_produk *(20/100)

fee_delivery = 2.50

total_bayar = total_produk + diskon + fee_delivery
print(total_bayar)

input chicken: 9
input fish: 2
input vegetarian: 6
202.72

In [ ]:
training_year = int(input("input training year: "))
price_sneaker = training_year * 40/100
price_sneaker = training_year - price_sneaker

price_sneaker2 = price_sneaker * 20 /100
price_sneaker2 = price_sneaker - price_sneaker2

price_ball = price_sneaker2 * 1/4
price_aksesoris = price_ball * 1/5

total = training_year + price_sneaker + price_sneaker2 + price_ball + price_aksesoris
print(total)

input training year: 550
1223.2

In [ ]:
length = int(input("input length: "))
width = int(input("input width: "))
height = int(input("input height: "))
percentage = float(input("input percentage: "))

volume = length * width * height
volume_parse_liter = volume / 1000
persentase = percentage / 100
jumlah = volume_parse_liter * (1 - persentase)

print(jumlah)

input length: 105
input width: 77
input height: 89
input percentage: 18.5
586.445475